
body {
  font-family: sans-serif;
  margin: 0;
  padding: 1em;
}

canvas {
  max-width: 50%;
  width: 50%;
  position: relative !important;
}

video {
  position: absolute;
}

.controls {
	display: inline-block;
	width: 33%;
}

.toggle {
	width: 80px !important;
	height: 30px !important;
}

#toggle-skin-filter {
	font-size: 100px;
}



