
body {
    font-family: sans-serif;
    margin: 0;
    padding: 1em;
}

button {
    outline:none;
}

canvas {
    max-width: 40%;
    position: relative !important;
    border: 5px solid black;
    /*display: inline-block !important;*/
    float: right;
    top: -20em !important;
}

video {
    /*position: absolute;*/
}

.controls {
	display: inline-block;
	width: 33%;
    vertical-align: top;
    text-align: center;
}

.toggle {
	width: 80px !important;
	height: 30px !important;
}

#toggle-skin-filter {
	font-size: 100px;
}

#direction-log, #count-log {
    color: blue;
}

#direction-title, #count-title {
    display: block;
    padding-right: 10em;
}

#

#arrows {
    display: inline-block;
    /*width: 25%;*/
    /*padding-left: 25%;*/
}

#arrow-up {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 50px 50px;
    border-color: transparent transparent #007bff transparent;
}

#arrow-left {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 50px 50px 0;
    border-color: transparent #007bff transparent transparent;
    display: inline-block;
    float: left;
}

#arrow-right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 50px;
    border-color: transparent transparent transparent #007bff;
    display: inline-block;
    float: right;
}

#arrow-down {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 50px 0 50px;
    border-color: #007bff transparent transparent transparent;
}

#middle-arrows {
    display: inline-block;
    width: 200px;
}

.top-arrows {
    margin-left: 50px;
}

.arrow-up-highlight {
    border-color: transparent transparent #eeff00 transparent !important;
}

.arrow-left-highlight {
    border-color: transparent #eeff00 transparent transparent !important;
}

.arrow-right-highlight {
    border-color: transparent transparent transparent #eeff00 !important;
}

.arrow-down-highlight {
    border-color: #eeff00 transparent transparent transparent !important;
}