<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta id="theme-color" name="theme-color" content="#fff">
	<base target="_blank">
	<title>Gesture Recognition</title>
	<!-- style -->
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<!-- js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="../static/js/gest.js" type="text/javascript"></script>
	<script src="../static/js/script.js" type="text/javascript"></script>
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

   <!-- Bootstrap toggle -->
   <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
   <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
	
</head>


<body>
	<h2>Gesture Recognition</h2>
	<hr>
	<div class="controls">
		<button class="btn-success btn-lg" id="gest-start">Start</button>
		<button class="btn-danger btn-lg" id="gest-stop">Stop</button>	
	</div>
	
	<div class="controls"> 
		<!-- <h4>Gesture Sensitivity: <span id="gest-sensitivity">80</span></h4> -->
		<label>
		<input type="range" id="gest-slider" min="0" max="100" value="80" style="width: 200px"/> Gesture Sensitivity: <span id="gest-sensitivity">80</span></h4>
		</label>
		
	</div>

	<div class="controls">
		<label class="checkbox-inline">
		  <input type="checkbox" checked data-toggle="toggle" id="toggle-skin-filter"> Skin Filter
		</label>
	</div>
	<h3>Sensor Direction: <span id="direction-log"></span></h3>

	<div id="arrows">
		<div id=arrow-up class="top-arrows"></div>
		<div id="middle-arrows">
			<div id=arrow-left></div>	
			<div id=arrow-right></div>
		</div>
		<div id=arrow-down class="top-arrows"></div>

	</div>



</body>

</html>
